{% extends "inc/layout.tpl.html" %}

{% block content %}
<form name="form_parse" method="post" action="/form/sites_add" enctype="multipart/form-data">
    <table style="width:100%">
        <tr>
            <th></th>
            <th style="width :47%">Sites</th>
            <th style="width :47%">Output</th>
        <tr>
        <tr>
            <td>Sites</td>
            <td><textarea name="sites" rows="40">{{ Data.sites }}</textarea> </td>
            <td><textarea readonly name="output" rows="40">{{ Data.output }}</textarea> </td>
        <tr>
        <tr>
            <td colspan="3" style="text-align:center"><input type="submit" name="btn_ok" value="ok" class="btn"></td>
        </tr>
    </table>
</form>
{% endblock %}
