{% extends "inc/layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/Api.js"></script>
<script src="/js/TDbList.js"></script>
<script src="/js/Forms.js"></script>
<script>
  function SplitScheme(aData) {
      console.log('aData', aData);

      let Dbl = new TDbList(aData['data']['data']);
      Dbl.Shuffle();
      Dbl.RecNo = 0;

      let Scheme = Dbl.Rec.GetField('scheme');
      document.getElementById('script').value = Scheme;

      let SchemeJ = JSON.parse(Scheme);
      let UrlJ = SchemeJ['product']['info']['url'];
      for (let i = 0; i < UrlJ.length; i++) {
          document.getElementById('url' + i).value = UrlJ[i];
      };

      let Pipe = '';
      let PipeJ = SchemeJ['product']['pipe'];
      for (let i = 0; i < PipeJ.length; i++) {
        if (PipeJ[i][0] == 'as_dict') {
          Object.entries(PipeJ[i][1]).forEach(([Key, Val]) => {
            let Script_Key = '';
            Object.entries(Val).forEach(([Idx, Macro]) => {
              Script_Key += JSON.stringify(Macro) + ',\n';
            });
            document.getElementById('script_' + Key).value = Script_Key;
          })
        } else {
          Pipe += JSON.stringify(PipeJ[i]) + ',\n';
        };
      };
      document.getElementById('pipe').value = Pipe;

      let Data = SchemeJ['product']['var'];
      if (Data) {
        Data = JSON.stringify(Data);
        Data = Data.substring(1, Data.length - 1);
        document.getElementById('var').value = Data;
      }

      Data = SchemeJ['product']['info']['comment'];
      if (Data) {
        document.getElementById('comment').value = Data;
      }
    }

    function Btn_Moderate() {
      // ToDo. Fuck! Hangs TDb.Fetch.Cursor.execute(aSql)
      // dont remove line below
      ClearObj('input');
      ClearObj('textarea');

      document.getElementById('btn_moderate_flag').value = 'true';

      HttpRequest(
          '/api/get_scheme_mederate',
          function(aData) {
            SplitScheme(aData)

            let Dbl = new TDbList(aData['data']['data']);
            for (let Rec of Dbl) {
              Output.value += Rec.GetField('url') + '\n';
            }
            Output.value += '\n' + Dbl.GetSize() + '\n'
          },
          {}
        );
    };

    function Btn_GetSchemeDone() {
      ClearObj('input');
      ClearObj('textarea');

      document.getElementById('btn_save').disabled = true;
      document.getElementById('btn_save_flag').value = 'disabled';

      HttpRequest(
          '/api/get_scheme_not_empty',
          function(aData) {
            SplitScheme(aData)
          },
          {'cnt': 10}
      );
    };

    function Btn_GetSchemeEmptyWithFlag(aId, aThis) {
        ClearObj('input');
          ClearObj('textarea');

        document.getElementById('btn_save').disabled = false;
        document.getElementById('btn_save_flag').value = '';

        Btn_GetSchemeEmpty();
    }

    function Btn_Test_Unused(aThis) {
      // ToDo. Dont remove line below. Some problem with <input 'required'> in HTML
      document.getElementById('url0').value = '';

      let StartAt = Date.now();
      document.getElementById('output').value = '';

      HttpRequest(
          '/api/get_scheme_test',
          function(aData) {
            console.log('aData', aData);
            document.getElementById('output').value = JSON.stringify(aData, null, ' ');

            let Duration = (Date.now() - StartAt) / 1000;
            //aThis.textContent = Duration.toFixed(2);
          },
          {'scheme': document.getElementById('script').value}
      );
    };

    function Sel_Help(aThis) {
      let Val = aThis.options[aThis.selectedIndex].text;
      LastBlur.value += Val;
    }

    function Btn_GoUrls() {
      let Items = document.getElementsByTagName('input');
      for (let i = 0; i < Items.length; i++) {
        if (Items[i].name.startsWith('url')) {
          let Url = Items[i].value;
          if (Url) {
            window.open(Url, '_blank').focus();
          }
        };
      };
    };

    function Btn_Info(aThis) {
      document.getElementById('script').value = '';
      document.getElementById('output').value = '';
      document.forms["form"].submit(aThis)
    }

    function Btn_Make(aThis) {
      document.getElementById('output').value = '';
      document.forms["form"].requestSubmit(aThis)
    }

    function Btn_Save(aThis) {
      if (window.confirm('Save scheme ?')) {
        document.forms["form"].requestSubmit(aThis)
      }
    }

    function OnBlur(aThis) {
      LastBlur = aThis;
    }

</script>
{% endblock %}

{% block content %}
<form name="form" method="post" action="/form/soup_make" enctype="multipart/form-data">
  <table style="width:100%">
  <tbody>
    <tr>
      <td style="width:5%">url</td>
      <td style="width:40%">
        <input type="text" name="url0" id="url0" placeholder="url 1" style="width:100%" value="{{ Data.url0 }}" required>
        <input type="text" name="url1" id="url1" placeholder="url 2" style="width:100%" value="{{ Data.url1 }}">
      </td>
      <td>
        <button onclick="Btn_GoUrls()">go</button>
        <button onclick="Btn_GetSchemeEmptyWithFlag()">get task</button>
        <button name="btn_info" id="btn_info" onclick="Btn_Info(this)">info</button>
        <button onclick="Btn_GetSchemeDone()">example</button>
        <button name="btn_make" onclick="Btn_Make(this)">make</button>
        <button name="btn_save" id="btn_save" onclick="Btn_Save(this)" {{ Data.btn_save_disabled }} >save</button>
        <input type="hidden" name="btn_save_flag" id="btn_save_flag" value={{ Data.btn_save_disabled }}>
        <input type="hidden" name="btn_moderate_flag" id="btn_moderate_flag" value={{ Data.btn_moderate }}>
        {% if Data.admin %}
        <button name="btn_moderate" onclick="Btn_Moderate()">moderate</button>
        {% endif %}
        <select id="sel_help" onchange="Sel_Help(this)">
        {% include "inc/soup_help.tpl.html" %}
        </select>
      </td>
    </tr>
    <tr>
      <td>var</td>
      <td>
        <textarea name="var" id="var" rows="3" onblur="OnBlur(this)">{{ Data.var }}</textarea>
      </td>
      <td rowspan="9">
        <textarea readonly name="script" id="script" rows="20">{{ Data.script }}</textarea>
        <textarea readonly name="output" id="output" rows="25">{{ Data.output }}</textarea>
      </td>
    </tr>
    <tr>
      <td>pipe</td>
      <td>
        <textarea name="pipe" id="pipe" rows="4" onblur="OnBlur(this)" required>{{ Data.pipe }} </textarea>
      </td>
    </tr>
    <tr>
      <td>name</td>
      <td>
        <textarea name="script_name" id="script_name" rows="4" onblur="OnBlur(this)">{{ Data.script_name }}</textarea>
      </td>
    </tr>
    <tr>
      <td>price</td>
      <td>
        <textarea name="script_price" id="script_price" rows="4" onblur="OnBlur(this)">{{ Data.script_price }}</textarea>
      </td>
    </tr>
    <tr>
      <td>price_old</td>
      <td>
        <textarea name="script_price_old" id="script_price_old" rows="4" onblur="OnBlur(this)">{{ Data.script_price_old }}</textarea>
      </td>
    </tr>
    <tr>
      <td>stock</td>
      <td>
        <textarea name="script_stock" id="script_stock" rows="4" onblur="OnBlur(this)">{{ Data.script_stock }}</textarea>
      </td>
    </tr>
    <tr>
      <td>image</td>
      <td>
        <textarea name="script_image" id="script_image" rows="4" onblur="OnBlur(this)">{{ Data.script_image }}</textarea>
      </td>
    </tr>
    <tr>
      <td>mpn</td>
      <td>
        <textarea name="script_mpn" id="script_mpn" rows="4" onblur="OnBlur(this)">{{ Data.script_mpn }}</textarea>
      </td>
    </tr>
    <tr>
      <td>category</td>
      <td>
        <textarea name="script_category" id="script_category" rows="4" onblur="OnBlur(this)">{{ Data.script_category }}</textarea>
      </td>
    </tr>
    <tr>
      <td>comment</td>
      <td>
        <textarea name="comment" id="comment" rows="4">{{ Data.comment }}</textarea>
      </td>
    </tr>
  </tbody>
  </table>
</form>
{% endblock %}
