{% extends "Layout.tpl.html" %}

{% block content %}
<table style="width:100%">
    <tr>
        <td><a href="form/soup_get">soup get</a></td>
    </tr>
    <tr>
        <td><a href="form/soup_make">soup make</a></td>
    </tr>
    <tr>
        <td><a href="form/soup_test">soup test</a></td>
    </tr>
    <tr>
        <td><a href="form/sites_list">sites list</a></td>
    </tr>
    <tr>
        <td><a href="form/sites_add">sites add</a></td>
    </tr>
    <tr>
        <td><a href="form/site_get">site get</a></td>
    </tr>
    <tr>
        <td><a href="form/tools">tools</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><a href="form/login">login</a></td>
    </tr>
    <tr>
        <td><a href="form/about">about</a></td>
    </tr>
</table>
{% endblock %}
