<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/www/style.css?q=3.2" type="text/css">
        <meta charset="UTF-8">
        <title>{{ Form.Title }}</title>
        <!--Layout.tpl head begin-->
        {% block head %}{% endblock %}
        <!--Layout.tpl head end-->
    </head>
    <body>
        <h2>{{ Form.Title }}</h2>
        <div id="content">
            <!--Layout.tpl content begin-->
            {% block content %}{% endblock %}
            <!--Layout.tpl content end-->
        </div>
        <div class="space"/>
        <div id="footer" class="app-footer">
            <a href="http://oster.com.ua">VladVons@gmail.com, 2022</a>
        </div>
    </body>
</html>
