{% extends "Layout.tpl.html" %}

{% block head %}
<style>
    .trEven:nth-child(even) {background-color: #00ccff;}
    .tableFixHead { overflow: auto; height: 600px; }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/TDbList.js"></script>
<script>
    function BtnGet_OnClick(aId) {
        document.getElementById('Output').value = '';

        HttpRequest(
            '/api/get_scheme',
            function(aData) {
                console.log('aData', aData);

                let DbL = new TDbList(aData['Data']['Data']);
                let Scheme = DbL.Rec.GetField('scheme');
                document.getElementById('Script').value = Scheme;
                document.getElementById('Url').value = aData['Url'];
            },
            {'id': aId}
        );
    };

    function BtnSet_OnClick(aId, aUrl) {
        let Script = document.getElementById('Script').value;
        if (Script.trim().length < 0) {
            window.alert('Script is empty');
            return;
        }

        if (! window.confirm('Save ' + aUrl + ' to database ?')) {
          return;
        }

        HttpRequest(
            '/api/set_scheme',
            function(aData) {
                console.log('aData', aData);
                let Err = aData['Data']['Err']
                let Msg = Err ? Err : 'Saved';
                window.alert(Msg + ' ' + aUrl);
            },
            {'id': aId, 'scheme': Script, 'url': aUrl}
        );
    };

    function BtnTest_OnClick(aId, aThis) {
        StartAt = Date.now();
        document.getElementById('Output').value = '';

        HttpRequest(
            '/api/get_scheme_test',
            function(aData) {
                console.log('aData', aData);
                document.getElementById('Output').value = JSON.stringify(aData, null, ' ');

                let Duration = (Date.now() - StartAt) / 1000;
                aThis.textContent = Duration.toFixed(2);
            },
            {'scheme': document.getElementById('Script').value}
        );
    };

    function BtnFind_OnClick() {
        if (document.getElementById('Url').value == '') {
            alert('Url is empty');
            return;
        };

        let ObjScript = document.getElementById('Script');
        ObjScript.value = '';
        document.getElementById('Output').value = '';

        HttpRequest(
            '/api/get_scheme_find',
            function(aData) {
                console.log('aData', aData);
                aData['Data'].forEach((aItem) => {
                    ObjScript.value += JSON.stringify(aItem, null, ' ') + '\n';
                    ObjScript.value += '\n---\n\n';
                })
            },
            {'url': document.getElementById('Url').value}
        );
    };

    function BtnGo_OnClick() {
        if (document.getElementById('Url').value == '') {
            alert('Url is empty');
            return;
        }

        let Url = document.getElementById('Url').value;
        window.open(Url, '_blank').focus();
    };
</script>
{% endblock %}

{% block content %}
<table style="width:100%">
    <tr>
        <td colspan="2">
            <input type="text" name="Url" id="Url" style="width:90%">
            <button onclick="BtnGo_OnClick()">go</button>
            <button onclick="BtnFind_OnClick()">find</button>
        </td>
    </tr>
    <tr>
        <td style="width: 20%">
            <div class="tableFixHead">
                <table style="width:100%">
                    <tr>
                        <th>No</th>
                        <th style="width: 70%">Url</th>
                        <th>Get</th>
                        <th>Test</th>
                        <th>Set</th>
                    </tr>
                    {% for Rec in Data.Sites %}
                    <tr class="trEven">
                        <td>{{loop.index}}</td>
                        <td><a href="{{ Rec.GetField('url') }}">{{ Rec.GetField('url') }}</a></td>
                        <td>
                            {% if Rec.GetField('has_scheme') %}
                            <button onclick="BtnGet_OnClick({{ Rec.GetField('id') }})">get</button>
                            {% endif %}
                        </td>
                        <td>
                            {% if Rec.GetField('has_scheme') %}
                            <button onclick="BtnTest_OnClick( {{ Rec.GetField('id') }}, this)">test</button>
                            {% endif %}
                        </td>
                        <td>
                            <button onclick="BtnSet_OnClick( {{ Rec.GetField('id') }}, '{{ Rec.GetField('url') }}' )">set</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </td>
        <td style="width: 30%">
            <textarea name="Script" id="Script" rows="40">{{ Data.Script }}</textarea>
        </td>
        <td style="width: 30%">
            <textarea readonly name="Output" id="Output" rows="40">{{ Data.Output }}</textarea>
        </td>
    </tr>
</table>>
{% endblock %}
