{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/ajax.js"></script>
<script>
    function BtnGet_OnClick(aId) {
        HttpRequest(
            '/api/get_scheme_by_id',
            function(aData) {
                console.log('aData', aData);
                if (Object.keys(aData).length == 0) {
                    alert('request error')
                }else{
                    var Scheme = aData['Data']['Data']['scheme']
                    document.getElementById('Script').value = Scheme;
                    var SchemeObj = JSON.parse(Scheme)
                    document.getElementById('Url').value = SchemeObj['Product']['-Url'];
                }
            },
            {
                'id': aId
            }
        );
    };

    function BtnTest_OnClick(aThis) {
        var StartAt = Date.now();
        document.getElementById('Output').value = '';

        HttpRequest(
            '/api/get_scheme_test',
            function(aData) {
                console.log('aData', aData);
                document.getElementById('Output').value = JSON.stringify(aData, null, ' ');

                var Duration = (Date.now() - StartAt) / 1000
                aThis.textContent = Duration.toFixed(2);
            },
            {
                'scheme': document.getElementById('Script').value
            }
        );
    };

    function BtnGo_OnClick() {
        var Url = document.getElementById("Url").value;
        window.open(Url, '_blank').focus();
    };
</script>
<style>
    tr:nth-child(even) {background-color: #00ccff;}
    .tableFixHead      { overflow: auto; height: 600px; }
</style>
{% endblock %}

{% block content %}
    <table style="width:100%">
        <tr>
            <td style="width: 30%">
                <div class="tableFixHead">
                <table style="width:100%">
                    <tr>
                        <td colspan="3">
                            <input type="text" name="Url" id="Url" style="width:90%">
                            <button style="width:6%" onclick="BtnGo_OnClick()">go</button>
                        </td>
                    </tr>
                    <tr>
                        <th>No</th>
                        <th style="width: 70%">Url</th>
                        <th>Scheme</th>
                    </tr>
                    {% for Rec in Data.Sites %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><a href="{{ Rec.GetField('url') }}">{{ Rec.GetField('url') }}</a></td>
                        <td>
                            {% if Rec.GetField('has_scheme') %}
                            <button onclick="BtnGet_OnClick({{ Rec.GetField('id') }})">get</button>
                            <button onclick="return BtnTest_OnClick(this)">test</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </td>
            <td style="width: 30%">
                <textarea readonly name="Script" id="Script" rows="40">{{ Data.Script }}</textarea>
            </td>
            <td style="width: 30%">
                <textarea readonly name="Output" id="Output" rows="40">{{ Data.Output }}</textarea>
            </td>
        </tr>
    </table>
{% endblock %}
