{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/www/ajax.js"></script>
<script>
    function BtnGet_OnClick(aId) {
        HttpRequest(
            '/api/get_scheme_by_id',
            function(aData) {
                console.log("aData", aData);
                if (Object.keys(aData).length == 0) {
                    alert("request error")
                }else{
                    document.getElementById("Script").value = aData["Data"]["site.scheme"];
                }
            },
            {'id': aId}
        );
    };
</script>
<style>
    tr:nth-child(even) {background-color: #00ccff;}
    .tableFixHead      { overflow: auto; height: 600px; }
</style>
{% endblock %}

{% block content %}
    <table style="width:100%">
        <tr>
            <td>
                <div class="tableFixHead">
                <table style="width:100%">
                    <tr>
                        <th>No</th>
                        <th style="width :90%">Url</th>
                        <th>Scheme</th>
                    </tr>
                    {% for Rec in Form.Sites %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><a href="{{ Rec.GetField('site.url') }}">{{ Rec.GetField('site.url') }}</a></td>
                        <td>
                            {% if Rec.GetField('has_scheme') %}
                            <button onclick="BtnGet_OnClick({{ Rec.GetField('site.id') }})">get</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </td>
            <td>
                <textarea readonly name="Script" id="Script" rows="40">{{ Form.Title }}</textarea>
            </td>
        </tr>
    </table>
{% endblock %}
