{% extends "Layout.tpl.html" %}

{% block content %}
<form name="FormParse" method="post" action="/form/site_get?action=go" enctype="multipart/form-data">
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <input type="text" name="Url0" id="Url0" placeholder="url" style="width:100%" required value="{{ Data.Url }}">
            </td>
        <tr>
            <tr>
                <td>Path</td>
                <td>Info</td>
            <tr>
        <tr>
            <td>
                <textarea name="Path" rows="4">{{ Data.Path }}</textarea>
            </td>
            <td>
                <textarea readonly name="Info" rows="4">{{ Data.Info }}</textarea>
            </td>
        <tr>
        <tr>
            <td colspan="2">
                <textarea readonly name="Output" rows="40">{{ Data.Output }}</textarea>
            </td>
        <tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" name="BtnOk" value="OK" class="btn">
            </td>
        </tr>
    </table>
</form>
{% endblock %}
