{% extends "Layout.tpl.html" %}

{% block content %}
<form name="FormParse" method="post" action="/form/sites_add" enctype="multipart/form-data">
    <table style="width:100%">
        <tr>
            <th></th>
            <th style="width :47%">Sites</th>
            <th style="width :47%">Output</th>
        <tr>
        <tr>
            <td>Sites</td>
            <td><textarea name="Sites" rows="40">{{ Data.Sites }}</textarea> </td>
            <td><textarea readonly name="Output" rows="40">{{ Data.Output }}</textarea> </td>
        <tr>
        <tr>
            <td colspan="3" style="text-align:center"><input type="submit" name="BtnOk" value="OK" class="btn"></td>
        </tr>
    </table>
</form>
{% endblock %}
