{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/Api.js"></script>
<script src="/js/Forms.js"></script>
<script src="/js/TDbList.js"></script>
{% endblock %}

{% block content %}
<form name="Form" method="post" action="/form/soup_get" enctype="multipart/form-data">
    <table style="width:100%">
        <tr>
            <th></th>
            <th style="width :90%"></th>
        <tr>
            <td>Url</td>
            <td>
                <button onclick="Btn_GetSchemeEmpty()">get</button>
                <button onclick="Btn_GoUrl('Url0')">go</button>
                <input type="text" name="Url0" id="Url0" placeholder="url" style="width:90%" required value="{{ Data.Url0 }}">
            </td>
        </tr>
        <tr>
            <td>Path</td>
            <td><input type="text" name="Path" placeholder="path script" style="width:100%" value="{{ Data.Path }}"></td>
        </tr>
        <tr>
            <td>Find regEx</td>
            <td><input type="text" name="Find" id="Find" placeholder="text" style="width:100%" required value="{{ Data.Find }}"></td>
        </tr>
        <tr>
            <td>Output</td>
            <td><textarea readonly name="Output" rows="30">{{ Data.Output }}</textarea> </td>
        <tr>
        <tr>
            <td colspan="2" style="text-align:center"><input type="submit" name="BtnOk" value="OK" class="btn"></td>
        </tr>
    </table>
</form>
{% endblock %}
