{% extends "Layout.tpl.html" %}

{% block head %}
    <link href="/css/jquery-linedtextarea.css" type="text/css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/js/jquery-linedtextarea.js"></script>
    <script src="/js/Forms.js"></script>
    <script>
        $(function() {
            $('.lined').linedtextarea({
                selectedLine: 0
            });
        });

        function Btn_Url() {
            Script = document.getElementById('Script').value;
            if (Script) {
                Url = JSON.parse(Script)['Product']['Info']['Url'][0];
                document.getElementById('Url0').value = Url;
            }
        }

        function Btn_Make(aThis) {
            document.getElementById('Output').value = '';
            document.forms["Form"].requestSubmit(aThis)
        }

        function Btn_Info(aThis) {
            document.getElementById('Output').value = '';
            document.forms["Form"].submit(aThis)
        }

    </script>
{% endblock %}

{% block content %}
<form name="Form" method="post" action="/form/soup_test" enctype="multipart/form-data">
    <table width="100%">
        <tr>
            <td>url</td>
            <td>
                <button onclick="Btn_Url()">url</button>
                <button onclick="Btn_GoUrl('Url0')">go</button>
                <button name="BtnInfo" onclick="Btn_Info(this)">info</button>
                <button name="BtnMake" onclick="Btn_Make(this)">make</button>

                <input type="text" name="Url0" id="Url0" placeholder="Url" style="width:90%" required value="{{ Data.Url0 }}">
            </td>
        </tr>
        <tr>
            <td>Script</td>
            <td><textarea name="Script" id="Script" class="lined" rows="30" required>{{ Data.Script }}</textarea></td>
        </tr>
        <tr>
            <td>Output</td>
            <td><textarea readonly name="Output" id="Output" rows="15">{{ Data.Output }}</textarea></td>
        </tr>
    </table>
</form>
{% endblock %}
