{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/Api.js"></script>
<script src="/js/TDbList.js"></script>
<script src="/js/Forms.js"></script>
<script>
  function SplitScheme(aData) {
      console.log('aData', aData);

      let Dbl = new TDbList(aData['Data']['Data']);
      Dbl.Shuffle();
      Dbl.RecNo = 0;

      let Scheme = Dbl.Rec.GetField('scheme');
      document.getElementById('Script').value = Scheme;

      let SchemeJ = JSON.parse(Scheme);
      let UrlJ = SchemeJ['Product']['Info']['Url'];
      for (let i = 0; i < UrlJ.length; i++) {
          document.getElementById('Url' + i).value = UrlJ[i];
      };

      let Pipe = '';
      let PipeJ = SchemeJ['Product']['Pipe'];
      for (let i = 0; i < PipeJ.length; i++) {
        if (PipeJ[i][0] == 'as_dict') {
          Object.entries(PipeJ[i][1]).forEach(([Key, Val]) => {
            let Script_Key = '';
            Object.entries(Val).forEach(([Idx, Macro]) => {
              Script_Key += JSON.stringify(Macro) + ',\n';
            });
            document.getElementById('script_' + Key).value = Script_Key;
          })
        } else {
          Pipe += JSON.stringify(PipeJ[i]) + ',\n';
        };
      };
      document.getElementById('Pipe').value = Pipe;

      let Var = '';
      let VarJ = SchemeJ['Product']['Var'];
      if (VarJ) {
        Var = JSON.stringify(VarJ);
      }
      document.getElementById('Var').value = Var;
    }

    function Btn_Moderate() {
      // ToDo. Fuck! Hangs TDb.Fetch.Cursor.execute(aSql)
      // dont remove line below
      ClearObj('input');
      ClearObj('textarea');

      HttpRequest(
          '/api/get_scheme_mederate',
          function(aData) {
            SplitScheme(aData)

            let Dbl = new TDbList(aData['Data']['Data']);
            for (let Rec of Dbl) {
              Output.value += Rec.GetField('url') + '\n';
            }
            Output.value += '\n' + Dbl.GetSize() + '\n'
          },
          {}
        );
      };

    function Btn_GetSchemeDone() {
      ClearObj('input');
      ClearObj('textarea');

      document.getElementById('BtnSave').disabled = true;
      document.getElementById('BtnSaveFlag').value = 'disabled';

      HttpRequest(
          '/api/get_scheme_not_empty',
          function(aData) {
            SplitScheme(aData)
          },
          {'cnt': 10}
      );
    };

    function Btn_GetSchemeEmpty2(aId, aThis) {
        ClearObj('input');
        ClearObj('textarea');

        document.getElementById('BtnSave').disabled = false;
        document.getElementById('BtnSaveFlag').value = '';

        Btn_GetSchemeEmpty();
    }

    function Btn_Test_Unused(aThis) {
      // ToDo. Dont remove line below. Some problem with <input 'required'> in HTML
      document.getElementById('Url0').value = '';

      let StartAt = Date.now();
      document.getElementById('Output').value = '';

      HttpRequest(
          '/api/get_scheme_test',
          function(aData) {
            console.log('aData', aData);
            document.getElementById('Output').value = JSON.stringify(aData, null, ' ');

            let Duration = (Date.now() - StartAt) / 1000;
            //aThis.textContent = Duration.toFixed(2);
          },
          {'scheme': document.getElementById('Script').value}
      );
    };

    function Sel_Help(aThis) {
      let Val = aThis.options[aThis.selectedIndex].text;
      LastBlur.value += Val;
    }

    function Btn_Go() {
      let Items = document.getElementsByTagName('input');
      for (let i = 0; i < Items.length; i++) {
        if (Items[i].name.startsWith('Url')) {
          let Url = Items[i].value;
          if (Url) {
            window.open(Url, '_blank').focus();
          }
        };
      };
    };

    function Btn_Make(aThis) {
      document.getElementById('Output').value = '';
      document.getElementById('Script').value = '';
      document.forms["Form"].requestSubmit(aThis)
    }

    function Btn_Save(aThis) {
      if (window.confirm('Save scheme ?')) {
        document.forms["Form"].requestSubmit(aThis)
      }
    }

    function OnBlur(aThis) {
      LastBlur = aThis;
    }

</script>
{% endblock %}

{% block content %}
<form name="Form" method="post" action="/form/soup_make" enctype="multipart/form-data">
  <table style="width:100%">
  <tbody>
    <tr>
      <td style="width :5%">Url</td>
      <td style="width :40%">
        <input type="text" name="Url0" id="Url0" placeholder="url 1" style="width:100%" value="{{ Data.Url0 }}" required>
        <input type="text" name="Url1" id="Url1" placeholder="url 2" style="width:100%" value="{{ Data.Url1 }}">
      </td>
      <td>
        <button onclick="Btn_Go()">go</button>
        <button onclick="Btn_GetSchemeEmpty2()">get task</button>
        <button onclick="Btn_GetSchemeDone()">example</button>
        <button name="BtnMake" onclick="Btn_Make(this)">make</button>
        <button name="BtnSave" id="BtnSave" onclick="Btn_Save(this)" {{ Data.BtnSaveDisabled }} >save</button>
        <input type="hidden" name="BtnSaveFlag" id="BtnSaveFlag" value={{ Data.BtnSaveDisabled }}>
        {% if Data.Admin %}
        <button name="BtnModerate" onclick="Btn_Moderate()">Moderate</button>
        {% endif %}
        <br>

        <select id="SelHelp" onclick="Sel_Help(this)">
          <optgroup label="- top -"></optgroup>
            <option>["find_all", ["li"]]</option>
            <option>["find", ["div", {"class": "content"}]]</option>
            <option>["image"]</option>
            <option>["list", [1]]</option>
            <option>["price"]</option>
            <option>["split", [":", 1]]</option>
            <option>["stock"]</option>
            <option>["strip"]</option>
            <option>["text"]</option>
            <option>["txt2json"]</option>
            <option>["unbracket", ["()", -1]]</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <td>Var</td>
      <td>
        <textarea name="Var" id="Var" rows="3" onblur="OnBlur(this)">{{ Data.Var }}</textarea>
      </td>
      <td rowspan="7">
        <textarea readonly name="Script" id="Script" rows="20">{{ Data.Script }}</textarea>
        <textarea readonly name="Output" id="Output" rows="20">{{ Data.Output }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Pipe</td>
      <td>
        <textarea name="Pipe" id="Pipe" rows="4" onblur="OnBlur(this)">{{ Data.Pipe }}</textarea>
      </td>
    </tr>
    <tr>
      <td>name</td>
      <td>
        <textarea name="script_name" id="script_name" rows="4" onblur="OnBlur(this)">{{ Data.script_name }}</textarea>
      </td>
    </tr>
    <tr>
      <td>price</td>
      <td>
        <textarea name="script_price" id="script_price" rows="4" onblur="OnBlur(this)">{{ Data.script_price }}</textarea>
      </td>
    </tr>
    <tr>
      <td>price_old</td>
      <td>
        <textarea name="script_price_old" id="script_price_old" rows="4" onblur="OnBlur(this)">{{ Data.script_price_old }}</textarea>
      </td>
    </tr>
    <tr>
      <td>stock</td>
      <td>
        <textarea name="script_stock" id="script_stock" rows="4" onblur="OnBlur(this)">{{ Data.script_stock }}</textarea>
      </td>
    </tr>
    <tr>
      <td>image</td>
      <td>
        <textarea name="script_image" id="script_image" rows="4" onblur="OnBlur(this)">{{ Data.script_image }}</textarea>
      </td>
    </tr>
    <tr>
      <td>mpn</td>
      <td>
        <textarea name="script_mpn" id="script_mpn" rows="4" onblur="OnBlur(this)">{{ Data.script_mpn }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Make</td>
      <td></td>
    </tr>
  </tbody>
  </table>
</form>
{% endblock %}
