{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/TDbList.js"></script>
<script>
    function BtnGet_OnClick() {
        HttpRequest(
            '/api/get_scheme_not_empty',
            function(aData) {
                console.log('aData', aData);
                let DbL = new TDbList(aData['Data']['Data']);
                let Rec = DbL.Shuffle();
                document.getElementById('Url').value = Rec.GetField('url');
                document.getElementById('Script').value = Rec.GetField('scheme');
              },
            {'cnt': 5}
        );
    };

    function SelHelp_OnClick(aThis) {
      let Val = aThis.options[aThis.selectedIndex].text;
      LastBlur.value += Val;
    }

    function BtnGo_OnClick() {
      let Url = document.getElementById('Url').value;
      window.open(Url, '_blank').focus();
    };

    function OnBlur(aThis) {
      LastBlur = aThis;
    }

</script>
{% endblock %}

{% block content %}
<form name="Form" method="post" action="/form/soup_make?action=go" enctype="multipart/form-data">
  <table style="width:100%">
  <tbody>
    <tr>
      <td style="width :5%">Url</td>
      <td style="width :40%">
        <input type="text" name="Url" id="Url" placeholder="url" style="width:100%" value="{{ Data.Url }}" required>
      </td>
      <td>
        <input type="submit" name="BtnOk" value="make">
        <button onclick="BtnGet_OnClick()">get</button>
        <button onclick="BtnGo_OnClick()">go</button>
        <select id="SelHelp" onclick="SelHelp_OnClick(this)">
          <optgroup label="- top -"></optgroup>
            <option>["find_all", ["li"]]</option>
            <option>["find", ["div", {"class": "content"}]]</option>
            <option>["image"]</option>
            <option>["price"]</option>
            <option>["split", [":", 1]]</option>
            <option>["stock"]</option>
            <option>["strip"]</option>
            <option>["text"]</option>
          </optgroup>
          <optgroup label="- extends -"></optgroup>
            <option>["as_dict", {"key1": [macros1], "key2": [macros2]}</option>
            <option>["as_if", {"cond": [...], "true": [...], "false:[...]"}</option>
            <option>["as_list", [[macros1],[macros2]]</option>
            <option>["compare", ["truth,eq,ne,lt,gt..."]]</option>
            <option>["concat", ["str1", true]]</option>
            <option>["dig_lat"]</option>
            <option>["equal", ["str1|str2"]]</option>
            <option>["gets", ["key1.key2.key3..."]]</option>
            <option>["image"]</option>
            <option>["json2txt"]</option>
            <option>["left", [5]]</option>
            <option>["list", [1]]</option>
            <option>["lower"]</option>
            <option>["price"]</option>
            <option>["replace", ["strFind", "strRepl"]]</option>
            <option>["search", ["str1|str2"]]</option>
            <option>["split", [":", 1]]</option>
            <option>["stock"]</option>
            <option>["strip_all"]</option>
            <option>["strip"]</option>
            <option>["sub", [0, 5]]</option>
            <option>["translate", ["charsFind", "charsRepl", "charsDel"]]</option>
            <option>["txt2float"]</option>
            <option>["txt2json"]</option>
            <option>["unbracket", ["()", -1]]</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <td>Pipe</td>
      <td>
        <textarea name="Path" id="Path" rows="3" onblur="OnBlur(this)" required>{{ Data.Path }}</textarea>
      </td>
      <td rowspan="7">
        <textarea readonly name="Script" id="Script" rows="20">{{ Data.Script }}</textarea>
        <textarea readonly name="Output" id="Output" rows="20">{{ Data.Output }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <textarea name="Script_Name" id="Script_Name" rows="4" onblur="OnBlur(this)">{{ Data.Script_Name }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>
        <textarea name="Script_Price" id="Script_Price" rows="4" onblur="OnBlur(this)">{{ Data.Script_Price }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Price_old</td>
      <td>
        <textarea name="Script_PriceOld" id="Script_PriceOld" rows="4" onblur="OnBlur(this)">{{ Data.Script_PriceOld }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Stock</td>
      <td>
        <textarea name="Script_Stock" id="Script_Stock" rows="4" onblur="OnBlur(this)">{{ Data.Script_Stock }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Image</td>
      <td>
        <textarea name="Script_Image" id="Script_Image" rows="4" onblur="OnBlur(this)">{{ Data.Script_Image }}</textarea>
      </td>
    </tr>
    <tr>
      <td>MPN</td>
      <td>
        <textarea name="Script_MPN" id="Script_MPN" rows="4" onblur="OnBlur(this)">{{ Data.Script_MPN }}</textarea>
      </td>
    </tr>
    <tr>
      <td>Make</td>
      <td>
      </td>
      <td>
        <input type="submit" name="BtnOk" value="make">
      </td>
    </tr>
  </tbody>
  </table>
</form>
{% endblock %}
