{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/TDbList.js"></script>
<script>
    function BtnGet_OnClick() {
        HttpRequest(
            '/api/get_scheme_not_empty',
            function(aData) {
                console.log('aData', aData);
                let DbL = new TDbList(aData['Data']['Data']);
                let Rec = DbL.Shuffle();
                document.getElementById('Url').value = Rec.GetField('url');
                document.getElementById('Script').value = Rec.GetField('scheme');
              },
            {'cnt': 5}
        );
    };

    function BtnGo_OnClick() {
        let Url = document.getElementById('Url').value;
        window.open(Url, '_blank').focus();
    };
</script>
{% endblock %}

{% block content %}
<form name="Form" method="post" action="/form/soup_make?action=go" enctype="multipart/form-data">
    <table style="width:100%">
      <tr>
        <td>Url</td>
        <td colspan="4">
        <input type="text" name="Url" id="Url" placeholder="url" style="width:90%" value="{{ Data.Url }}" required>
        <button onclick="BtnGet_OnClick()">get</button>
        <button onclick="BtnGo_OnClick()">go</button>
        </td>
      </tr>
      <tr>
        <td>Path</td>
        <td colspan="3">
        <input type="text" name="Path" placeholder="path script" style="width:100%" value="{{ Data.Path }}" required>
        </td>
      </tr>
      <tr>
        <td>Section</td>
        <td>Name</td>
        <td>Price</td>
        <td>Price old</td>
      </tr>
      <tr>
        <td>Script</td>
        <td><textarea name="Script_Name" id="Script_Name" rows="5">{{ Data.Script_Name }}</textarea></td>
        <td><textarea name="Script_Price" id="Script_Price" rows="5">{{ Data.Script_Price }}</textarea></td>
        <td><textarea name="Script_PriceOld" id="Script_PriceOld" rows="5">{{ Data.Script_PriceOld }}</textarea></td>
      </tr>
      <tr>
        <td>Section</td>
        <td>Stock</td>
        <td>Image</td>
        <td>SKU</td>
      </tr>
      <tr>
        <td>Script</td>
        <td><textarea name="Script_Stock" id="Script_Stock" rows="5">{{ Data.Script_Stock }}</textarea></td>
        <td><textarea name="Script_Image" id="Script_Image" rows="5">{{ Data.Script_Image }}</textarea></td>
        <td><textarea name="Script_SKU" id="Script_SKU" rows="5">{{ Data.Script_SKU }}</textarea></td>
      </tr>
      <tr>
        <td>Output</td>
        <td colspan="2"><textarea readonly name="Script" id="Script" rows="25">{{ Data.Script }}</textarea></td>
        <td colspan="2"><textarea readonly name="Output" id="Output" rows="25">{{ Data.Output }}</textarea></td>
      </tr>
     <tr>
        <td colspan="5" style="text-align:center"><input type="submit" name="btn" value="OK" class="btn"></td>
     </tr>
    </table>
</form>
{% endblock %}
