{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/TDbList.js"></script>
<script>
    function BtnGet_OnClick() {
        HttpRequest(
            '/api/get_scheme_empty',
            function(aData) {
                console.log("aData", aData);
                let DbL = new TDbList(aData["Data"]["Data"]);
                document.getElementById("Url").value = DbL.Shuffle().GetField('url');
            },
            {'cnt': 5}
        )
    }

    function BtnGo_OnClick() {
        let Url = document.getElementById("Url").value;
        //window.location.href = Url;
        window.open(Url, '_blank').focus();
    }
</script>
{% endblock %}

{% block content %}
<form name="FormParse" method="post" action="/form/soup_get?action=go" enctype="multipart/form-data">
    <table style="width:100%">
        <tr>
            <th></th>
            <th style="width :90%"></th>
        <tr>
            <td>Url</td>
            <td>
                <input type="text" name="Url" id="Url" placeholder="url" style="width:90%" required value="{{ Data.Url }}">
                <button style="width:4%" onclick="BtnGet_OnClick()">get</button>
                <button style="width:4%" onclick="BtnGo_OnClick()">go</button>
            </td>
        </tr>
        <tr>
            <td>Path</td>
            <td><input type="text" name="Path" placeholder="path script" style="width:100%" value="{{ Data.Path }}"></td>
        </tr>
        <tr>
            <td>Find regEx</td>
            <td><input type="text" name="Find" id="Find" placeholder="text" style="width:100%" required value="{{ Data.Find }}"></td>
        </tr>
        <tr>
            <td>Output</td>
            <td><textarea readonly name="Output" rows="30">{{ Data.Output }}</textarea> </td>
        <tr>
        <tr>
            <td colspan="2" style="text-align:center"><input type="submit" name="BtnOk" value="OK" class="btn"></td>
        </tr>
    </table>
</form>
{% endblock %}
