{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/Api.js"></script>
<script src="/js/TDbList.js"></script>
<script>
    function Btn_GetSchemeEmpty() {
        let Output = document.getElementById('Output')
        Output.value = '';

        HttpRequest(
            '/api/get_scheme_empty',
            function(aData) {
                console.log('aData', aData);
                let Dbl = new TDbList(aData['Data']['Data']);
                for (let Rec of Dbl) {
                    Output.value += Rec.GetField('url') + '\n';
                }
            },
            {'cnt': 1000}
        );
    };

    class TWebSockApp extends TWebSock {
        Init() {
            this.Output = document.getElementById('Output');
            this.Output.value = 'Start at ' + new Date().toLocaleTimeString('en-US') + '\n';

            this.ConnectId()
        }

        OnMessage(aEvent, aData) {
            //console.log(aData);
            this.Output.value += aData['Data'] + '\n';
            this.Output.scrollTop = this.Output.scrollHeight;
        };
    }

    class TWS_get_scheme_test_all extends TWebSockApp {
        Run() {
            //--- Method1. Catch all data in OnMessage()
            //this.ConnectPlugin('get_scheme_test_all');
            //this.Call({'cnt': 1000, 'ws': this.Id})
            //return

            //--- Method2. Catch log in OnMessage()
            this.Init();

            let Output = this.Output
            HttpRequest(
                '/api/get_scheme_test_all',
                function(aData) {
                    Output.value += '\n';
                    aData['Data'].forEach((aItem) => {
                        Output.value += JSON.stringify(aItem, null, ' ') + '\n';
                        Output.value += '\n';
                    Output.scrollTop = Output.scrollHeight;
                    })
                },
                {'cnt': 1000, 'ws': this.Id}
            );
        };
    };

    class TWS_get_scheme_find extends TWebSockApp {
        Run() {
            if (document.getElementById('Url0').value == '') {
                alert('Url is empty');
                return;
            };

            this.Init();

            let Output = this.Output
            HttpRequest(
                '/api/get_scheme_find',
                function(aData) {
                    Output.value += '\n';
                    aData['Data'].forEach((aItem) => {
                        Output.value += JSON.stringify(aItem, null, ' ') + '\n';
                        Output.value += '\n---\n\n';
                    Output.scrollTop = Output.scrollHeight;
                    })
                },
                {'url': document.getElementById('Url0').value, 'cnt': 1000, 'ws': this.Id}
            );
        };
    };

    class TWS_get_site_robots extends TWebSockApp {
        Run() {
            this.Init();

            let Output = this.Output
            HttpRequest(
                '/api/get_sites_check_file',
                function(aData) {
                    Output.value += '\n';
                    aData['Data'].forEach((aItem) => {
                        //Output.value += JSON.stringify(aItem, null, ' ') + '\n';
                        //Output.value += '\n';
                    Output.scrollTop = Output.scrollHeight;
                    })
                },
                {'file': '/robots.txt', 'cnt': 1000, 'ws': this.Id}
            );
        };
    };

    class TWS_get_site_sitemap extends TWebSockApp {
        Run() {
            this.Init();

            let Output = this.Output
            HttpRequest(
                '/api/get_sites_check_file',
                function(aData) {
                    Output.value += '\n';
                    aData['Data'].forEach((aItem) => {
                        //Output.value += JSON.stringify(aItem, null, ' ') + '\n';
                        //Output.value += '\n';
                    Output.scrollTop = Output.scrollHeight;
                    })
                },
                {'file': '/sitemap.xml', 'cnt': 1000, 'ws': this.Id}
            );
        };
    };

    class TWS_get_sites_grep extends TWebSockApp {
        Run() {
            this.Init();

            let Output = this.Output
            HttpRequest(
                '/api/get_sites_grep',
                function(aData) {
                    Output.value += '\n';
                    aData['Data'].forEach((aItem) => {
                        //Output.value += JSON.stringify(aItem, null, ' ') + '\n';
                        //Output.value += '\n';
                    Output.scrollTop = Output.scrollHeight;
                    })
                },
                {'file': '/', 'filter': 'checking your browser', 'cnt': 1000, 'ws': this.Id}
            );
        };
    };

    function BtnGoUrl() {
        if (document.getElementById('Url0').value == '') {
            alert('Url is empty');
            return;
        }

        let Url = document.getElementById('Url0').value;
        window.open(Url, '_blank').focus();
    };
</script>
{% endblock %}

{% block content %}

<table style="width: 100%">
    <tr>
        <td colspan="2">
            <button onclick="BtnGoUrl()">go</button>
            <input type="text" name="Url0" id="Url0" style="width:96%">
        </td>
    </tr>
    <tr>
        <td style="width: 15%; vertical-align:top">
            <table style="width: 100%">
                <tr>
                    <td>find match schemes</td>
                    <td>
                        <button onclick="new TWS_get_scheme_find().Run()">ok</button>
                    </td>
                </tr>
                <tr>
                    <td>test all schemes</td>
                    <td>
                        <button onclick="new TWS_get_scheme_test_all().Run()">ok</button>
                    </td>
                </tr>
                <tr>
                    <td>check robots.txt</td>
                    <td>
                        <button onclick="new TWS_get_site_robots().Run()">ok</button>
                    </td>
                </tr>
                <tr>
                    <td>check sitemap.xml</td>
                    <td>
                        <button onclick="new TWS_get_site_sitemap().Run()">ok</button>
                    </td>
                </tr>
                <tr>
                    <td>check protected</td>
                    <td>
                        <button onclick="new TWS_get_sites_grep().Run()">ok</button>
                    </td>
                </tr>
                <tr>
                    <td>get empty scheme</td>
                    <td>
                        <button onclick="Btn_GetSchemeEmpty()">ok</button>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <textarea readonly id="Output" rows="40"></textarea>
        </td>
    </tr>
</table>
{% endblock %}
