{% extends "Layout.tpl.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/Api.js"></script>
<script src="/js/TDbList.js"></script>
<script>
    class TWS_scheme_test_all extends TWebSock {
        Run() {
            this.Output = document.getElementById('Output');
            this.Output.value = 'Starting request ...\n';

            this.Debug = true;
            this.ConnectPlugin('get_scheme_test_all');
            this.Call({'cnt': 1000})
        }

        OnMessage(aEvent, aData) {
            //console.log(aEvent)
            let Msg = aData['Data']
            if (aData['Type'] == 'Res'){
                this.Output.value += '\n\nErr:\n';
                for (let i = 0; i < Msg.length; i++) {
                    this.Output.value += Msg[i][0] + '\n';
                    this.Output.value += Msg[i][1] + '\n\n';
                }
            }else{
                this.Output.value += Msg + '\n';
            }
        }

    };

    function BtnGoUrl() {
        if (document.getElementById('Url0').value == '') {
            alert('Url is empty');
            return;
        }

        let Url = document.getElementById('Url0').value;
        window.open(Url, '_blank').focus();
    };

    function BtnFind() {
        if (document.getElementById('Url0').value == '') {
            alert('Url is empty');
            return;
        };

        let Output = document.getElementById('Output');
        Output.value = '';

        HttpRequest(
            '/api/get_scheme_find',
            function(aData) {
                console.log('aData', aData);
                aData['Data'].forEach((aItem) => {
                    Output.value += JSON.stringify(aItem, null, ' ') + '\n';
                    Output.value += '\n---\n\n';
                })
            },
            {'url': document.getElementById('Url0').value, 'ws': true}
        );
    };
</script>
{% endblock %}

{% block content %}

<table style="border-collapse: collapse; width: 100%; height: 36px;" border="1">
    <tr>
        <td colspan="2">
            <button onclick="BtnGoUrl()">go</button>
            <input type="text" name="Url0" id="Url0" style="width:96%">
        </td>
    </tr>
    <tr>
        <td style="width: 15%; vertical-align:top">
            <table style="width: 100%">
                <tr>
                    <td>find match schemes</td>
                    <td>
                        <button onclick="BtnFind()">ok</button>
                    </td>
                </tr>
                <tr">
                    <td>test all schemes</td>
                    <td>
                        <button onclick="new TWS_scheme_test_all().Run()">ok</button>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <textarea readonly id="Output" rows="40"></textarea>
        </td>
    </tr>
</table>
{% endblock %}
