{% extends "Layout.tpl.html" %}

{% block head %}
<script>
    class TMyClass {
        constructor() {
            this.Init();
        };

        Init() {
            this.ws = new WebSocket('ws://localhost:8081/ws/test');

            this.ws.onopen = function() {
                console.log('open');
            };

            this.ws.onmessage = function(aEvent) {
                var received_msg = aEvent.data;
                document.getElementById('TextA1').value += received_msg + '\n';
            };

            this.ws.onclose = function() {
                alert('close');
            };
        };

        SendMsg() {
            let Msg = document.getElementById('User').value;
            document.getElementById('TextA1').value += Msg + '\n\n';

            let Data = JSON.stringify({'Msg': Msg});
            this.ws.send(Data);
        };
    };

    console.log('start script');
    MyClass = new TMyClass();
</script>
{% endblock %}

{% block content %}
<textarea rows="3" cols="30" id="TextA1" style="width:300px;height:500px;"></textarea>
<br/>
<label>User</label>
<input type="text" id="User"/>
<button onclick="MyClass.SendMsg();">Send</button>
{% endblock %}
