{% extends "Layout.tpl.html" %}

{% block head %}
<script>
    class TMyClass {
        constructor() {
            this.Init()
        }

        Init() {
            this.ws = new WebSocket("ws://localhost:8082/test");

            this.ws.onopen = function() {
                console.log('open');
            };

            this.ws.onmessage = function(aEvent) {
                var received_msg = aEvent.data;
                document.getElementById("showMes").value += received_msg + "\n";
            };

            this.ws.onclose = function() {
                alert("close");
            };
        }

        sendMeg() {
            var Msg = document.getElementById("User").value + ":" + document.getElementById("Login").value;
            document.getElementById("showMes").value += Msg + "\n\n";
            this.ws.send(Msg);
        }
    }

    console.log('start script');
    MyClass = new TMyClass()
</script>
{% endblock %}

{% block content %}
<textarea rows="3" cols="30" id="showMes" style="width:300px;height:500px;"></textarea>
<br/>
<label>user</label>
<input type="text" id="User"/>
<br/>
<label>passw</label>
<input type="text" id="Login"/>
<button onclick="MyClass.sendMeg();">send</button>
{% endblock %}
